		body {
		}
		
         #logo {
	        background-image: url(../images/top_logo.jpg);
	        height: 185px;
	        width: 250px;
            }
         .logo{
	        padding-top: 120px;
	        text-align: center;
	        font-family: "microsoft sans Serif";
	        font-size: 25px;
	        text-decoration:none;
        }
        .logo a{
	        padding-top: 130px;
	        text-align: center;
	        font-family: "microsoft sans Serif";
	        font-size: 25px;
	        text-decoration:none;
        }
        .logo a:hover{
	        padding-top: 130px;
	        text-align: center;
	        font-family: "microsoft sans Serif";
	        font-size: 25px;
	        text-decoration:none;
        }
        
        .logo_text {color: #AC0203; padding-top:10px; font-size: 15pt;}
        
        #header {
	        background-image: url(../images/index_02.jpg);
	        height: 185px;
	        width: 885px;
	        
            }
            .logo_bg {
	        background-image: url(../images/index_02.jpg);        
	         width: 100%;
            }
            
            /* For Main Content table class */
         .store_maintable {
	    font-family: "microsoft sans Serif";
	    font-size: 50px;
	    width: 97%;
        }
        .dept_maintable {
	    font-family: "microsoft sans Serif";
	    font-size: 50px;
	    width: 97%;
        }
       
       
        .style3 {color: #b90909;}
        .style4 {
	        font-size: 18px;
	        color: #b90909;}
	        
	      #top_menu {
	        background-image: url(../images/index_03.jpg);
	        height: 42px;
	        width: 623px;
			padding-top: 30px;
            }
        .top_menu {
	        background-image: url(../images/index_03.jpg);
	        height: 42px;
	        width: 100%;
            }
        .top_menu ul {
	        margin: 0;
	        list-style: none;
	        padding-left: 0px;
            }

        .top_menu li {
	        display: inline;
            }
        .top_menu a {
	        background:url(../images/top_button.jpg);
	        font-family: calibri;
	        font-size: 25px;
	        font-weight:normal;
	        color: #FFFFFF;
	        text-decoration: none;
	        float: left;
	        height: 37px;
	        width: 154px;
	        text-align: center;
	        background-repeat: no-repeat;
            }

        .top_menu a:hover {	
	        width: 154px;
	        height: 37px;
	        text-decoration:none;
	        background: url(../images/top_button_hover.jpg);
            }
            #content_table {
	        /*background-image: url(images/index_05.jpg);	*/
	        background: #D6D6D6;
	        width: 100%;
	        font-size: 12px;
        }
        .left_menu {
	    background-image: url(../images/index_08.jpg);
	
        }
        .left_menu ul {
	        margin: 0;
	        list-style: none;
	        padding-left: 35px;
	       
        }
        /*
        .left_menu li {
	        display: inline;
        }
        */
        .left_menu a {
	        background: url(../images/left_button.jpg);
	        /*background: #550403;*/
	        font-family: calibri;
	        font-size: 15px;
	        font-weight:normal;
	        color: #FFFFFF;
	        text-decoration: none;
	        float: left;
	        height: 40px;
	        width: 200px;
	        text-align: left;
	        background-repeat: no-repeat;
	        padding-top: 0px;
	        padding-left: 10px;
	        line-height: 2.8;
        }
        .left_nav a {
	        background: url(../images/left_button_hover.jpg);
	        height: 40px;
	        width: 200px;
	
        }
        .left_menu a:hover {
	        width: 200px;
	        height: 40px;
	        text-decoration:none;
	        background: url(../images/left_button_hover.jpg);
	        /*background: #550403;*/
	        background-repeat: no-repeat;
        }
        .topMenuBg
        {
        	background: url(../images/index_02.jpg);
        	height: 227px;
        	}
        	.left_bg
        	{
        	background: url(../images/index_07.jpg);
        	height: auto;
        	width: 50px;
        	}
        	.mainContent
        	{
        	/*background: url(images/index_05.jpg);*/
        	/* background: #D6D6D6;*/
        	background: #EDEBEC;
        	font-size: 14pt;
        	width: 79%;
        	height: auto;
        	}
        	#footer {
	       /* background: url(images/index_09.jpg);*/
	        height: 40px;
	        width: 100%;
	        text-align: center;
	        font-size: 14px;
	        font-weight:bold;
	        line-height: 1.9;
	        font-family: "microsoft sans Serif";
	        padding-top:5px;
	        color:Navy;	       
            }
            .style6
            {
                height: 34px;
                background: url(../images/index_02.jpg);
            }
            
            /* These classes are for other Child Pages */
            
            /* Add New  Stock Item  Form */
            .addNewItemForm
        {
            width: 650px;
            font-size: 14px;
            height: 300px;
            color: #550403;
        }
        
           /* Adjust Report Form */
          .adjustRptForm
     {
     	    height: 400px;
            font-size: 15px;
            width: 700px;
            color: #550403;
            
     	}
     	
     	 	.DeptMainNavmenu
     	{    		
     		height: 100%;     		
     		/*padding-left: 40px;
     		padding-right: 30px;*/
     		font-size: 21px;
     		height: 40px;
     		margin-left:45px;
     		width: 93%;
     		}
     		.DeptMainNavmenu a:link
     	{
     		border:	2px inset gray;
     		width: 188.3px;
     		height: 40px;
     		border:	1px inset gray;
     		padding-top: 30px;
     		text-align:center;
     		vertical-align: middle;
     		 line-height: 2.5;
     		 background-color:#C2C2C2;
     		 padding-right:2px;
     		}
     		.DeptMainNavmenu a:hover
     	{
     		height: 100%; 
     		width: 188.3px;
     		height: 40px;     		
     		border:	1px outset gray;  
     		text-align:center;
     		vertical-align: middle; 
     		line-height: 2.5;  		
     		 background-color:#550403;
     		}
     	.mainNavmenu
     	{    		
     		height: 100%;     		
     		/*padding-left: 40px;
     		padding-right: 30px;*/
     		font-size: 20px;
     		height: 40px;
     		margin-left:44px;
     		width: 93%;
     		
     		}
     	
     		.mainNavmenu a:link
     	{
     		border:	2px inset gray;
     		width: 180.9px;
     		height: 40px;
     		border:	1px inset gray;
     		padding-top: 30px;
     		text-align:center;
     		vertical-align: middle;
     		 line-height: 2.5;
     		 background-color:#C2C2C2;
     		 
     		}
     		.mainNavmenu a:hover
     	{
     		height: 100%; 
     		width: 180.9px;
     		height: 40px;     		
     		border:	1px outset gray;  
     		text-align:center;
     		vertical-align: middle; 
     		line-height: 2.5;  		
     		background-color:#550403;
     		}